In [1]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
import pandas as pd
import numpy as np

In [3]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [7]:
# there are approximately 1030 samples to train our model and data looks very clean to build the model since no missing values

In [8]:
# Split data into predictors and target
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [9]:
predictors.head() # predictors table

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [10]:
target.head() # target table

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [18]:
n_cols = predictors_norm.shape[1] # number of predictors

In [19]:
# Import packages from the Keras library that we will need to build our regressoin model.
from keras.models import Sequential
from keras.layers import Dense

In [20]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [21]:
# build the model
model = regression_model()

In [23]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=50, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/50
 - 0s - loss: 375.1714 - val_loss: 443.2298
Epoch 2/50
 - 0s - loss: 363.1013 - val_loss: 429.7414
Epoch 3/50
 - 0s - loss: 351.1755 - val_loss: 417.1340
Epoch 4/50
 - 0s - loss: 339.7089 - val_loss: 404.1198
Epoch 5/50
 - 0s - loss: 328.6848 - val_loss: 391.1525
Epoch 6/50
 - 0s - loss: 317.7675 - val_loss: 378.1118
Epoch 7/50
 - 0s - loss: 307.1452 - val_loss: 366.1102
Epoch 8/50
 - 0s - loss: 297.1564 - val_loss: 353.6740
Epoch 9/50
 - 0s - loss: 287.5609 - val_loss: 341.9728
Epoch 10/50
 - 0s - loss: 278.5130 - val_loss: 330.3406
Epoch 11/50
 - 0s - loss: 269.7992 - val_loss: 319.2341
Epoch 12/50
 - 0s - loss: 261.9514 - val_loss: 308.7888
Epoch 13/50
 - 0s - loss: 254.6010 - val_loss: 299.6097
Epoch 14/50
 - 0s - loss: 247.7092 - val_loss: 290.9592
Epoch 15/50
 - 0s - loss: 241.5992 - val_loss: 282.5300
Epoch 16/50
 - 0s - loss: 235.7505 - val_loss: 275.4143
Epoch 17/50
 - 0s - loss: 230.5867 - val_loss: 268.2737
Epoch 18/50
 - 0s - loss: 225.5914 - val_loss: 262.2228
Epoch 19/50
 - 0s - loss: 221.1854 - val_loss: 255.8664
Epoch 20/50
 - 0s - loss: 216.8866 - val_loss: 250.6504
Epoch 21/50
 - 0s - loss: 213.0318 - val_loss: 245.7613
Epoch 22/50
 - 0s - loss: 209.5517 - val_loss: 240.6970
Epoch 23/50
 - 0s - loss: 206.1070 - val_loss: 236.9225
Epoch 24/50
 - 0s - loss: 203.1110 - val_loss: 232.9716
Epoch 25/50
 - 0s - loss: 200.1095 - val_loss: 228.7172
Epoch 26/50
 - 0s - loss: 197.3563 - val_loss: 225.7616
Epoch 27/50
 - 0s - loss: 194.7826 - val_loss: 222.5786
Epoch 28/50
 - 0s - loss: 192.2996 - val_loss: 219.9990
Epoch 29/50
 - 0s - loss: 190.0790 - val_loss: 216.9018
Epoch 30/50
 - 0s - loss: 187.7526 - val_loss: 214.3865
Epoch 31/50
 - 0s - loss: 185.7045 - val_loss: 211.6405
Epoch 32/50
 - 0s - loss: 183.6615 - val_loss: 209.4919
Epoch 33/50
 - 0s - loss: 181.7889 - val_loss: 207.2028
Epoch 34/50
 - 0s - loss: 180.0405 - val_loss: 204.4216
Epoch 35/50
 - 0s - loss: 178.2936 - val_loss: 202.8897
Epoch 36/50
 - 0s - loss: 176.6829 - val_loss: 200.5127
Epoch 37/50
 - 0s - loss: 175.1264 - val_loss: 198.7111
Epoch 38/50
 - 0s - loss: 173.6644 - val_loss: 196.5719
Epoch 39/50
 - 0s - loss: 172.3085 - val_loss: 194.4880
Epoch 40/50
 - 0s - loss: 171.0478 - val_loss: 192.2389
Epoch 41/50
 - 0s - loss: 169.7558 - val_loss: 189.8664
Epoch 42/50
 - 0s - loss: 168.5150 - val_loss: 188.6155
Epoch 43/50
 - 0s - loss: 167.3789 - val_loss: 187.0900
Epoch 44/50
 - 0s - loss: 166.2395 - val_loss: 184.6812
Epoch 45/50
 - 0s - loss: 165.0140 - val_loss: 183.2411
Epoch 46/50
 - 0s - loss: 163.9500 - val_loss: 181.6680
Epoch 47/50
 - 0s - loss: 162.8580 - val_loss: 180.2072
Epoch 48/50
 - 0s - loss: 161.8293 - val_loss: 178.6628
Epoch 49/50
 - 0s - loss: 160.8086 - val_loss: 177.3795
Epoch 50/50
 - 0s - loss: 159.8929 - val_loss: 176.3162